# Fichiers .html cachés

elements.html
thank-you.html
.vscode/
glossaire-DELL-G3.html
index-DELL-G3.html
methodologie-DELL-G3.html
Los_Angeles-DELL-G3.html
Mexico_City-DELL-G3.html
Montreal-DELL-G3.html
